body {
  font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.bg-dark {
  color: $light;

  .btn.btn-link, a {
    color: $yellow;

    &:hover {
      color: $orange;
    }
  }

  h3, .h3 {
    color: $white !important;
  }
}

.bg-medium {
  color: $white !important;
}

.bg-light {
  color: $dark !important;
}

*, * ::before, * ::after {
  box-sizing: border-box
}


h1, .h1 {
  font-stretch: 70%;
}

h2, .h2 {
  // font-stretch: 70%;
}

h3, .h3 {
  // font-stretch: 50%;
  color: $access-dark !important;
}

h4, .h4 {
  font-weight: 800;
}


a {
  text-decoration: underline;
  font-weight: bold;
  background-color: transparent;
  @extend .text-black;

  &:hover {
    @extend .text-medium;
  }

  &.text-decoration-none:hover {
    text-decoration: underline !important;
  }
}

.btn {
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  user-select: auto;

  &.btn-medium {
    color: $white;
  }

  &.btn-link {
    margin: 0px;
    padding: 0px;
    width: initial;
    text-align: left;
    font-size: inherit;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    border: none;
    background-color: transparent;
    word-break: break-word;
    user-select: auto;

    &:hover {
      text-decoration: underline;
      font-weight: bold;
      background-color: transparent;
      border: none;
      color: $access-medium !important;
    }

    &.text-decoration-none:hover {
      text-decoration: underline !important;
    }
  }
}

a.badge {
  text-decoration: none;
}

.pre-wrap-text {
  white-space: pre-wrap;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}

.border-style-dashed {
  border-style: dashed !important;
}

.width-fit-content {
  width: fit-content;
}


/////////////////

.bg-dark {
  @extend .text-light;

  .btn.btn-link {
    @extend .text-yellow;

    &:hover {
      @extend .text-orange;
    }
  }

  h3, .h3 {
    @extend .text-light;
  }
}

.bg-light {
  @extend .text-dark;
}

.btn-access-primary {
  @extend .btn;
  @extend .btn-primary;
}

.branding-wrapper {
  padding-top: 50px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;

  .nsf-logo {
    padding-right: 20px;

    img {
      height: 82px;
      width: 82px;
    }
  }

  .logo-divider {
    padding-top: 6px;
    padding-bottom: 6px;

    img {
      height: 70px;
    }
  }

  .navbar-brand {
    .site-logo {
      padding-top: 22px;
      padding-left: 23px;

      img {
        height: 75px;
        width: 253px;
      }
    }
  }
}

.access-subdomain-breadcrumb-wrapper {
  padding: 9.5px;

  .breadcrumb {
    margin: 0px;

    li {
      a {
        color: $access-dark;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;

        &:hover {
          color: $access-medium;
          text-decoration: underline;
        }
      }
    }
  }

}

.region-nav-main {
  li {
    padding: 10px;

    a {
      @extend .btn;
      @extend .btn-lg;
      @extend .border-dark;

      border-width: 2px;
    }
  }
}

.views-row {
  .ui-state-active,
  .ui-accordion .ui-accordion-header {
    color: $access-medium;
    background: white;
    border-color: #dddddd;

    .field-content a {
      color: $access-dark;
    }
  }
}
