@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,70,400;0,100,400;0,100,600;0,100,800;1,100,400&display=swap");

:root {
    --teal-400: #48c0b9;
    --teal-600: #008597;
    --teal-700: #1a5b6e;
    --font-primary: "Archivo", Helvetica, Arial, sans-serif;
}

body {
    font-family: "Archivo", Helvetica, Arial, sans-serif;
}

.text-dark, .btn.btn-link.text-dark {
    @extend .text-dark
}

.text-light, .btn.btn-link.text-light {
    @extend .text-light
}

.text-medium, .btn.btn-link.text-medium {
    color: $access-medium;
}

.text-orange, .btn.btn-link.text-orange {
    color: $access-orange;
}

.text-yellow, .btn.btn-link.text-yellow {
    color: $access-yellow;
}

.bg-dark {
    background-color:$access-dark;

    @extend .text-light;

    .btn.btn-link {
      @extend .text-yellow;

        &:hover {
            @extend .text-orange;
        }
    }

    h3, .h3 {
        color: $access-teal;
    }
}

.bg-medium {
    background-color:$access-medium;
}

.bg-light {
    background-color:$access-light;

    @extend .text-dark;
}


*, * ::before, * ::after {
    box-sizing: border-box
}

/*
*, :after, :before {
    box-sizing:inherit
}
*/

.navbar {
    --bs-navbar-padding-y: 0;
}

/*
    margin: 0 auto;
    */
.region-nav-access-main {
    flex-direction: row;
    height: 48px;
    text-align: left
}

.region-nav-access-additional {
    flex-direction: row;
    height: 48px;
    text-align: right
}

footer .social-link {
    text-decoration: none;
    transition: transform .1s ease;
    height: fit-content;
    margin:0.75rem
}

footer .social-link svg {
    fill:#13294b !important;
    height:55px;
    width:auto
}

footer .social-link:hover {
    transform:scale(1.1)
}

footer {

    .footer-policies a, .read-more, footer-rights {
        font-size: 14px;
    }

    a {
        color: $access-medium;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-access-primary {
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    color: #000;
    box-sizing: border-box;
    background-color: #fec42d;
    border-color: #fec42d;
    border-radius: 0;
    border-width: 4px;
    padding: 8px;
    text-decoration: none;
    vertical-align: middle;
}

.btn-access-primary:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}

.region-nav-access-main,
.region-nav-access-additional {
    //ul.sf-menu li.menuparent a {
    //    &:hover, &:active, &:focus {
    //        color: $access-light;
    //        background-color: $access-medium;
    //    }
    //}

    ul {
        li {

            a {
                &.sf-depth-1 {
                    color: $access-light;
                    background-color: $access-dark;
                }

                padding: 16px 8px;
                text-decoration: none;
                font-weight: 700;

                &:hover, &:focus {
                    color: $access-light;
                    background-color: $access-medium;
                    text-decoration: underline;
                }

                &.active, &.is-active {
                    color: $access-light;
                    background-color: $access-medium;
                }

                color: $access-light;
                background-color: $access-medium;
                font-size: 14px;
            }

            &.sfHover a {
                color: $access-light;
                background-color: $access-medium;
            }
        }
    }
}

.access-subdomain-global-navigation {
    border-color: $access-dark;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 3px;

    .block {
        line-height: 10px;
    }

    ul {
        @extend .d-inline-block;
        @extend .list-inline;
        li {
            @extend .list-inline-item;
            @extend .m-0;

            .sf-sub-indicator {
                display: none;
            }

            a, span.nolink {
                background-color: $access-medium;
                color: $access-light;

                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                padding: 16px 24px;

                &.sf-depth-1 {
                    color: $access-dark;
                    background-color: white;
                }

                &:hover {
                    background-color: $access-medium;
                    color: $access-light;

                    text-decoration: underline;
                    font-weight: 600;
                }

                &.active, &.is-active {
                    background-color: $access-dark;
                    color: $access-light;
                }
            }

            &.sfHover {
                a, span.nolink {
                    background-color: $access-medium;
                    color: $access-light;
                }
            }
        }
    }
}

.navbar-brand .site-logo {
    padding-top: 60px;
    padding-bottom: 60px;
}

h1, .h1 {
    font-size: 36px;
    font-stretch: 70%;
    font-weight: 400;
    //text-transform: uppercase;
}

h2, .h2 {
    font-size: 24px;
    font-stretch: 70%;
    font-weight: 400;
    //text-transform: uppercase;
}

h3, .h3 {
    font-size: 20px;
    font-stretch: 50%;
    font-weight: 400;
    color: $access-medium
    //text-transform: uppercase;
}

h4, .h4 {
    font-size: 16px;
    font-weight: 800;
}

.btn {
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    font-weight: 200;

    &:hover, &.active {
        text-decoration: none;
        font-weight: 200;
        background-color: white;
        border-color: black;
        color: black;
    }

    &.btn-link {
        @extend .btn-link;
        margin: 0px;
        padding: 0px;
        width: initial;
        text-align: left;
        font-size: inherit;
        color: black;
        text-decoration: underline;
        font-weight: bold;
        border: none;
        background-color: transparent;
        word-break: break-word;

        &:hover {
            text-decoration: underline;
            font-weight: bold;
            background-color: transparent;
            border: none;
            color: $access-medium;
        }
    }

    &.btn-primary {
        border-color: $access-yellow;
        background-color: $access-yellow;
    }

    .btn-outline-primary,
    .btn-outline-secondary,
    .btn-outline-success,
    .btn-outline-danger,
    .btn-outline-warning,
    .btn-outline-info,
    .btn-outline-light,
    .btn-outline-dark {

    }
}

.access-subdomain-breadcrumb-wrapper {
    padding: 9.5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: $access-secondary;

    .breadcrumb {
        margin: 0px;
        li {
            a {
                color: $access-dark;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    color: $access-medium;
                    text-decoration: underline;
                }
            }
        }
    }

}

.region-nav-main {
    li {
        padding: 10px;

        a {
            @extend .btn;
            @extend .btn-lg;
            @extend .btn-outline-dark;
        }
    }
}

.views-row {
    .ui-state-active,
    .ui-accordion .ui-accordion-header {
        color: $access-medium;
        background: white;
        border-color: #dddddd;

        .field-content a {
            color: $access-dark;
        }
    }
}


