// ACCESS variables override

//$body-font-family: Archivo;

$access-dark: #1A5B6E;
$access-dark-rgb: 26, 91, 110;
$access-medium: #138597;
$access-medium-rgb: 19, 133, 151;
$access-teal: #48C0B9;
$access-teal-rgb: 72, 192, 185;
$access-light: #ECF9F8;
$access-light-rgb: 236, 249, 248;
$access-yellow: #FFC42D;
$access-yellow-rgb: 255, 196, 45;

$theme-colors: (
  "dark": $access-dark,
  "light": $access-light,
  "primary": $access-yellow,
  "secondary": $access-dark
);
