/* Error: compound selectors may no longer be extended.
 * Consider `@extend .btn, .btn-primary` instead.
 * See https://sass-lang.com/d/extend-compound for details.
 * 
 *     ,
 * 547 |   @extend .btn.btn-primary;
 *     |           ^^^^^^^^^^^^^^^^
 *     '
 *   b5_ac_conect/scss/_styles_access.scss 547:11  @import
 *   b5_ac_conect/scss/style.scss 17:11            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: compound selectors may no longer be extended.\a Consider `@extend .btn, .btn-primary` instead.\aSee https://sass-lang.com/d/extend-compound for details.\a\a     \2577 \a 547 \2502    @extend .btn.btn-primary;\a     \2502            ^^^^^^^^^^^^^^^^\a     \2575 \a   b5_ac_conect/scss/_styles_access.scss 547:11  @import\a   b5_ac_conect/scss/style.scss 17:11            root stylesheet";
}
