ul.sf-menu a, ul.sf-menu li.menuparent {
    color: #ffffff;
    text-decoration: none;
    font-size:0.9rem
}

ul.sf-menu li.menuparent:hover a {
    color:var(--bs-dark)
}

ul.sf-menu li.menuparent:hover ul li:hover a {
    color:#ffffff
}

ul.sf-menu a:hover, ul.sf-menu .menuparent:hover {
    color:var(--bs-dark)
}

ul.sf-menu ul a {
    color:var(--bs-dark)
}

ul.sf-menu ul a:hover, ul.sf-menu ul li:hover a {
    color:#ffffff
}

ul.sf-menu ul li a.is-active {
    background-color: var(--bs-secondary) !important;
    color:#ffffff !important
}

ul.sf-menu a.is-active {
    color: #ffffff !important;
    background-color:var(--bs-dark) !important
}

ul.sf-menu .active-trail > a, ul.sf-menu .active-trail > .nolink {
    color: #ffffff !important;
    background-color:var(--bs-secondary) !important
}

ul.sf-menu .login-link:hover {
    color: #ffffff !important;
    background-color:var(--bs-dark)
}

/*
#superfish-access-navigation li:hover, superfsh-access-navigation li.active-trail {
  background-color: #ffffff;
  color:var(--access-dark)
}

#superfish-access-navigation a.is-active {
  color:var(--access-dark)
}

#superfish-access-navigation ul {
  background-color: #ffffff;
  top:3em
}

#superfish-access-navigation ul li:hover {
  background-color: var(--access-dark);
  color:#ffffff
}
*/

#superfish-access-navigation li a {
  text-transform:uppercase
}

#superfish-access-navigation li:hover, #superfish-access-navigation li.active-trail, #superfish-access-navigation-additional li:hover, #superfish-access-navigation-additional li.active-trail {
  background-color: #ffffff;
  color:var(--bs-dark)
}

#superfish-access-navigation a.is-active, #superfish-access-navigation-additional a.is-active {
  color:var(--bs-dark)
}

#superfish-access-navigation ul, #superfish-access-navigation-additional ul {
  background-color: #ffffff;
  top:3em
}

#superfish-access-navigation ul li:hover, #superfish-access-navigation-additional ul li:hover {
  background-color: var(--bs-dark);
  color:#ffffff
}

#superfish-access-navigation li a, #superfish-access-navigation-additional li a {
  font-weight:700
}
