{% extends "node.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% block content %}
    <style>
        .region-content {
            padding: 0px;
        }
    </style>
    <div class="p-5 bg-dark text-light w-100">
        <h2>
            Operation Support for ACCESS Resource Providers (RPs)
        </h2>
        <strong>
            Existing resources
        </strong>

        <div class="p-3 d-flex flex-row">
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">CiDeR - CyberInfrastructure Description Repository</h5>
                    <p class="card-text text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin
                        pellentesque.
                    </p>
                    <a class="btn btn-primary" href="https://cider.access-ci.org/">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Infrastructure News</h5>
                    <p class="card-text text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin
                        pellentesque.
                    </p>
                    <a class="btn btn-primary" href="https://operations.access-ci.org/infrastructure_news">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Ticket System</h5>
                    <p class="card-text text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin
                        pellentesque.
                    </p>
                    <a class="btn btn-primary" href="https://tickets.access-ci.org/">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Information Publishing Framework (IPF)</h5>
                    <p class="card-text text-secondary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin
                        pellentesque.
                    </p>
                    <a class="btn btn-primary" href="https://tickets.access-ci.org/">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
        <strong>
            New resources
        </strong>
        <p>
            ACCESS has a new approach for integrating infrastructure called
            <a href="/pub/integration_roadmaps"><em>Integration Roadmaps</em></a>.
            XSEDE and ACCESS allocated resources should integrate using the
            <a href="https://docs.google.com/document/d/1VUTa5DOz27B6wobZZwh6gh6dcXWD30rpYovoLZ1nwqk/"
               target="_blank"><em>ACCESS Allocated Production Compute/Storage/Cloud - v1</em></a> roadmap. The
            roadmap introduction details resources available to RPs to help with integration. By completing the roadmap
            RPs will gain access to <a href="/pub/online_services">ACCESS Operations Online Services</a> (including the
            ticket system, infrastructure news publishing, and CiDeR).
        </p>
        <p>
            In the Fall of 2022 ACCESS will release an integration roadmap for existing un-allocated Level 3 XSEDE RPs
            and for new campus compute, storage, or cloud infrastructure wishing to integrate with ACCESS.
        </p>
        <strong>
            Other documentation
        </strong>
        <ul>
            <li>
                Information on Supporting Science Gateways (coming soon)
            </li>
            <li>
                Information Sharing Platform APIs (coming soon)
            </li>
        </ul>
    </div>
    <div class="p-5 bg-light text-dark w-100">
        <h2>
            Operational Support for ACCESS Projects
        </h2>
        <strong>
            Integrating ACCESS project online services into ACCESS
        </strong>
        <p>
            Online services provided by ACCESS projects should integrate using the
            <a href="https://docs.google.com/document/d/116jH_jb9QZtV80HsfyMFW-IzVA7rHyvhng9b5-Ji4UA/"
               target="_blank"><em>ACCESS Production Online Service - v1</em></a> roadmap.
            The roadmap introduction details resources available to ACCESS projects to help with integration.
        </p>
        <p>
            By completing the roadmap ACCESS projects will gain access to <a href="/pub/online_services">ACCESS
                Operations Online Services</a> (including the ticket system, infrastructure news publishing, CiDeR, and
            the ACCESS Source Code Repository).
        </p>
        <strong>
            Other documentation
        </strong>
        <ul>
            <li>
                ACCESS Working Group Participation (coming soon)
            </li>
        </ul>
    </div>
    <div class="p-5 bg-dark text-light w-100">
        <h2>
            For ACCESS Affiliated Developers
        </h2>
        <strong>
            Other documentation
        </strong>
        <ul>
            <li>
                ACCESS Information for Gateways&nbsp;(coming soon)
            </li>
            <li>
                <a href="/online_services/sourcerepository">ACCESS Source Code Repository</a>
            </li>
        </ul>
    </div>
{% endblock %}

