{% extends "node.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% block content %}
    <style>
        .home-page .text-right {
            text-align: right;
        }

        .home-page .text-success {
            color: #6ABDB8;
        }

        .home-page .text-warning {
            color: #CD6536;
        }

        .home-page h3 {
            color: #2D5A6C;
            font-size: 20px;
        }

        .region-content {
            padding: 0px;
        }
    </style>
    <div class="home-page">
        <div class="p-5 bg-white d-flex flex-row">
            <div class="p-2 w-50">
                <h2>
                    Integrate and operate infrastructure in ACCESS
                </h2>
                <p>
                    We are ACCESS Operations, we support ACCESS resource providers (RPs), ACCESS projects, and
                    developers who need to integrate and operate infrastructure in ACCESS.
                </p>
                <p>
                    <a class="btn btn-primary" href="/about">About Access Operation</a>
                </p>
            </div>
            <div class="p-2 w-50 d-flex flex-row">
                <div class="w-50 p-3">
                    <img class="w-100" src="/sites/default/files/inline-images/home_section1_img1_0.png"
                         data-entity-uuid="5facb782-3c47-40f5-af24-d61a665da54e" data-entity-type="file">
                </div>
                <div class="w-50 d-flex flex-column">
                    <img class="w-100 p-2" src="/sites/default/files/inline-images/home_section1_img2_0.png"
                         data-entity-uuid="362c3662-28d7-4616-a1a4-381a5a2fa5ce" data-entity-type="file"> <img
                            class="w-100 p-2" src="/sites/default/files/inline-images/home_section1_img3.png"
                            data-entity-uuid="aeb8aea8-f229-420d-bb03-ccc6f96c9e60" data-entity-type="file">
                </div>
            </div>
        </div>
        <div class="p-5 bg-white">
            <h2>
                Focus areas
            </h2>
            <div class="d-flex flex-row">
                <div class="p-2 w-50">
                    <div class="w-100 rounded shadow d-flex flex-row">
                        <img class="w-25 rounded-left"
                             src="/sites/default/files/inline-images/AdobeStock_281254537%201.png">
                        <div class="w-75 p-4 bg-white rounded-right">
                            <h3>
                                Cybersecurity
                            </h3>
                            <p>
                                Developing and maintaining policies, procedures, and services, to protect the security
                                of the ACCESS cyberinfrastructure.
                            </p>
                            <div>
                                <a class="btn btn-primary" href="/pub/cybersecurity">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 w-50">
                    <div class="w-100 rounded shadow d-flex flex-row">
                        <img class="w-25 rounded-left"
                             src="/sites/default/files/inline-images/AdobeStock_318962869%201%20%281%29.png">
                        <div class="w-75 p-4 bg-white rounded-right">
                            <h3>
                                Operations Support
                            </h3>
                            <p>
                                Coordinating the integration and operations of RP, ACCESS project, and community
                                services.
                            </p>
                            <div>
                                <a class="btn btn-primary" href="/pub/operational_support">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="p-2 w-50">
                    <div class="w-100 rounded shadow d-flex flex-row">
                        <img class="w-25 rounded-left"
                             src="/sites/default/files/inline-images/AdobeStock_328760011%20%281%29%201%20%281%29.png">
                        <div class="w-75 p-4 bg-white rounded-right">
                            <h3>
                                Data &amp; Networking
                            </h3>
                            <p>
                                Provides an efficient and resilient data transfer capability between instruments,
                                resources, centers, and campuses in the CI ecosystem and engages with the US national
                                research and education backbone network.
                            </p>
                            <div>
                                <a class="btn btn-primary" href="/pub/data_n_networking">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 w-50">
                    <div class="w-100 rounded shadow d-flex flex-row">
                        <img class="w-25 rounded-left"
                             src="/sites/default/files/inline-images/AdobeStock_356426579%201%20%281%29.png">
                        <div class="w-75 p-4 bg-white rounded-right">
                            <h3>
                                STEP
                            </h3>
                            <p>
                                This is a female-led program that is dedicated to being inclusive! US-based domestic and
                                international students are eligible to apply if they are enrolled at a US-based
                                educational institution.
                            </p>
                            <div>
                                <a class="btn btn-primary" href="/step">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 bg-white">
            <div class="p-5 rounded shadow bg-white">
                <div class="d-flex flex-row">
                    <div class="w-75">
                        <h2>
                            Access Integrated Infrastructure Types
                        </h2>
                    </div>
                </div>
                <div class="d-flex flex-row pt-5">
                    <div class="w-50">
                        <h3>
                            Compute Integration
                        </h3>
                        <p>
                            Integrate a high-performance computing “HPC” cluster into ACCESS so that researchers can
                            request compute allocations through ACCESS
                        </p>
                    </div>
                    <div class="w-50">
                        <h3>
                            Storage Integration
                        </h3>
                        <p>
                            Integrate a storage system into ACCESS so that researchers can request storage allocations
                            through ACCESS.
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row pt-5">
                    <div class="w-50">
                        <h3>
                            Science Gateways
                        </h3>
                        <p>
                            Coming Soon. Will enable Science Gateways to integrate into ACCESS so that researchers using
                            the science gateway can use ACCESS resources.
                        </p>
                    </div>
                    <div class="w-50">
                        <h3>
                            Cloud Integration
                        </h3>
                        <p>
                            Integrate a cloud resources into ACCESS so that researchers can request hosting allocations
                            through ACCESS.
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row pt-5">
                    <div class="w-50">
                        <h3>
                            Advanced CI of the Future
                        </h3>
                        <p>
                            ACCESS plans to enable integration of new novel and advanced infrastructure in the ACCESS
                            ecosystem. Please contact us to discuss any cyberinfrastructure you would like add to the
                            ACCESS ecosystem.
                        </p>
                    </div>
                </div>
                <div class="pt-5 p-2 text-right">
                    <a class="btn btn-primary" href="/access-integrated-infrastructure-types">Learn more</a>
                </div>
            </div>
        </div>
        <div class="p-5 bg-secondary text-light d-flex flow-row">
            <div class="p-2 w-25">
                <h2>
                    Let’s get in touch
                </h2>
                <p>
                    <a class="btn btn-primary" href="https://support.access-ci.org/open-a-ticket">Open a ticket</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <small>Is your issue related to a resource? <strong>No</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <small>Is your issue related to allocations? <strong>No</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <small>Please select an ACCESS category <strong>Operations Feedback</strong></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    &nbsp;
                </p>
            </div>
            <div class="p-2 w-75">
                <p>
                    ACCESS Operations supports ACCESS resource providers (RPs), ACCESS projects, and developers who need
                    to integrate and operate infrastructure in ACCESS.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

