{% extends "node.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% block content %}
    <style>
        .region-content {
            padding: 0px;
        }
    </style>
    <div class="p-5 bg-dark text-light w-100">
        <h2>Data Transfer and Networking Support</h2>
        <p>
            The ACCESS Networking and Data Transfer Services (NDTS) team provides an efficient and resilient data
            transfer capability across the ACCESS ecosystem. The team also seeks to identify new data transfer and
            networking technologies and methodologies for potential introduction into the ACCESS ecosystem. NDTS focuses
            primarily on the following areas:
        </p>
        <div class="p-3 d-flex flex-row">
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Data Architecture and Transfer Services</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.</p>
                </div>
            </div>
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Performance Metrics</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.</p>
                </div>
            </div>
            <div class="card bg-white m-2 border-2 border-warning">
                <div class="card-body">
                    <h5 class="card-title text-dark">Cyberinfrastructure Community Engagement</h5>
                    <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 bg-light text-dark w-100">
        <p>
            NDTS established Domain Name System (DNS) services for access-ci.org and will support access.org after the
            lease of that domain name has been acquired.
        </p>
        <p>
            Administration of XSEDE’s high-speed Internet2 overlay network, XSEDEnet, was transitioned to NDTS as the
            team began working with Internet2 on the XSEDEnet to CONECTnet transition. NDTS agreed to continue with an
            L3VPN architecture and, in cooperation with Internet2, requested that Internet2 create a new ACCESS OESS
            workgroup for provisioning the infrastructure, providing a more adaptive and well managed administration
            approach for CONECTnet. Migration to CONECTnet is in progress with the ACCESS resource providers, and from
            the view-point of the RPs, the transition is seamless.
        </p>
    </div>
    <div class="p-5 bg-dark text-light w-100">
        <p>
            Support for Globus file transfer continues through the first year of ACCESS operations, with documentation
            and help made available to users for Globus Connect Server 5.4.
        </p>
        <p>
            <a href="https://operations.access-ci.org/pub/data_n_networking/services">
                https://operations.access-ci.org/pub/data_n_networking/services
            </a>
        </p>
    </div>
{% endblock %}

